.basket {
  background-color: #f5f5f5;
  padding: 60px 0;
  position: relative;
  .empty-cart {
    margin-left: 72px;
    padding: 15px;
    cursor: pointer;
    background-color: red;
    color: #f5f5f5;
    border: none;
    position: absolute;
    right: 5%;
    bottom:  1%;
    border-radius: 10px;
    width: 10%;
    
  }
  h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #4f4f4f;
    padding: 0 0 29px 70px;
  }
  .main-content {
    gap: 42px;
    display: flex;
    .main-container {
      display: flex;
      flex-direction: column;
      gap: 32px;

      width: 70%;
    }
  }
}
@media (max-width: 576px) {
  .basket {
    padding: 40px 0 88px 0;
    h4 {
      padding: 0 0 24px 16px;
    }
    .main-content {
      width: 90%;
      gap: 24px;
      display: flex;
      flex-direction: column;
      .main-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
      }
    }
  }
}
