.button {
  background: #2dd06e;
  border-radius: 8px;
  width: 315px;
  border: none;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 16px 0;
  margin: 0 auto;
  gap: 8px;
  cursor: pointer;
}
