@import "../../../../scss/variables.scss";

@media (max-width: 576px) {
  .info {
    .sortMobile {
      width: 176px;
      height: 40px;
      border: 1px solid $clr-gray4;
      border-radius: 8px;
      display: flex;
      gap: 58px;
      align-items: center;
      padding: 10px 0 10px 16px;
      cursor: pointer;
      position: relative;
      .sort-dropdown {
        position: absolute;
        left: 0%;
        width: 175px;
        top: 105%;
        background-color: #fff;
        border: 1px solid $clr-gray4;
        z-index: 100;
        border-radius: 8px;
        .sort-option {
          padding: 8px 16px;
          cursor: pointer;
          // position: relative;
          transition: all 0.1s ease;
          white-space: nowrap;
          &:hover {
            color: $clr-main;
          }
        }
      }
    }
  }
}
