@import "../../scss/variables.scss";
footer {
  background-color: #262626;
  .columns {
    display: flex;
    padding: 56px 75px;
    justify-content: space-around;
    .footer-logo {
      display: flex;
      flex-direction: column;
      gap: 26px;
      .social-medias {
        display: flex;
        gap: 34px;
        align-items: center;
        img {
          cursor: pointer;
        }
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-bottom: 80px;
      .title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        li {
          list-style-type: none;
          a {
            font-weight: 400;
            text-decoration: none;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            opacity: 0.8;
            cursor: pointer;
            &:hover {
              color: $clr-main;
            }
          }
        }
        &.last {
          li {
            a {
              display: flex;
              align-items: center;
              gap: 20px;
            }
          }
        }
      }
    }
  }
  .copyright {
    color: #fff;
    display: flex;
    padding: 24px 75px;
    border-top: 1px solid gray;

    justify-content: space-between;
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      cursor: pointer;
      opacity: 0.8;
      &:hover {
        color: $clr-main;
      }
    }

    .left {
      display: flex;
      gap: 13px;
    }
    .right {
      display: flex;
      gap: 40px;
    }
  }
}
@media (max-width: 576px) {
  footer {
    .columns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      .footer-logo {
        justify-content: center;
        align-items: center;
      }

      .column {
        gap: 32px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 0;

        ul {
          gap: 8px;
          li {
            a {
            }
          }
          &.last {
            align-items: center;
            justify-content: center;
            margin-bottom: 25px;
            li {
              align-items: center;

              a {
                align-items: center;
                text-align: left;
                width: 300px;
              }
            }
          }
        }
      }
    }
    .copyright {
      padding: 24px 20px;
      position: relative;

      .right {
        position: absolute;
        top: -45%;
        right: 11%;
      }
    }
  }
}
