@import "../../../scss/variables.scss";
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 74px 0 144px 0;
  button {
    border: 1px solid $clr-gray5;
    border-radius: 18px;
    width: 36px;
    background-color: #fff;
    cursor: pointer;
    height: 36px;
    padding: 11px;

    &:disabled {
      cursor: not-allowed;
    }
  }
  .pages-num {
    display: flex;
    gap: 40px;
    align-items: center;
    display: flex;

    span {
      cursor: pointer;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: $clr-gray2;

      &.active {
        background: $clr-main;
        border-radius: 8px;
        width: 32px;
        height: 32px;
        text-align: center;
        color: #fff;
      }
    }
  }
}
