$clr-price: rgba(219, 44, 102, 1);
$clr-main: rgba(45, 208, 110, 1);
$clr-base: rgba(51, 51, 51, 1);
$clr-white: rgba(255, 255, 255, 1);
$clr-gray1: #333333;
$clr-gray2: #4f4f4f;
$clr-gray3: #828282;
$clr-gray4: #bdbdbd;
$clr-gray5: #e0e0e0;
$clr-gray6: #f2f2f2;
$clr-link: #3366ff;
$clr-basic200: #f7f9fc;
$clr-basic300:#EDF1F7;
$clr-primary-dark: #1d2123;
